<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBL</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('navigation.ejs') %>
    <%if(users){ %>
        <table>
            <% users.forEach(function(user) { %>
                <form action="/admin/<%=user.username%>" method="POST">
                    <section>
                        <tr>
                            <td>
                                <% if(user.username){%>
                                    <%=user.username %>
                                        <%}%>
                            </td>
                            <td><button type="submit"> Delete User. WARNING: THIS IS PERMANENT</button></td>
                    </section>
                    </tr>
                </form>
                <% }); %>
        </table>
        <%}%>
</body>

</html>