<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MBL</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<nav class="nav">
		<ul>
				<form action="/logout" method="post">
					<button class="logout" type="submit">Sign out</button>
				</form>
		</ul>
        <u1>
            <form action="/" method="get">
                <button class="button" type="submit">Home</button>
            </form>
        </u1>
	</nav>
    <h3><%if(username){ %>Displaing Ratings for:<%=username%>!<%}%></h3>
    <%- include('listview.ejs',{books:books}) %>
</body>
</html>
